@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Tungsten';
  font-weight: 900;
  font-style: normal;
  src:  url('Tungsten-Bold.ttf');
}

@font-face {
  font-family: 'Thin100';
  font-weight: 100;
  font-style: normal;
  src:  url('Poppins-Thin.ttf');
}

@font-face {
  font-family: 'ExtraLight200';
  font-weight: 200;
  font-style: normal;
  src:  url('Poppins-ExtraLight.ttf');
}

input[type="color"] {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; 
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}